@import "../scss/breakpoints.scss";

$font-color-grey: #7d7d7d;
$font-color-lightgrey: #e5e5e5;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  position: relative;
  padding-bottom: 23px;

  @include md {
    padding-bottom: 27px;
    margin-inline: 16px;
    margin-top: 5px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -24px;
    width: 100vw;
    height: 1px;
    background-color: $font-color-lightgrey;

    @include md {
      left: -40px;
    }

    @include xl {
      left: 0;
      width: 100%;
    }
  }

  .header-title {
    .title {
      height: 32px;
    }
  }

  .slideshow {
    text-decoration: none;
    color: $font-color-grey;
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    text-align: right;
    letter-spacing: 1.92857px;
    text-transform: uppercase;

    @include md {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 2.571px;
    }

    &:hover {
      color: #000;
    }
  }
}

// @media screen and (min-width: 700px) {
//   .wrapper {
//     padding: 30px;

//     .header-title {
//       margin-left: 1rem;

//       .title {
//         font-size: 2.5rem;
//       }
//     }

//     .slideshow {
//       font-size: 1rem;
//     }
//   }
// }
